.app {
  text-align: center;
  border: 2px solid red;
}

img {
  width: 100px;
}

.poke-item {
  display: flex;
  flex-direction: column;
  width: 100px;
  border: 2px solid green;
}

.poke-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.select-options {
  border: 2px solid blue;
}

.search {
  border: 2px solid yellowgreen;
}
.user-input {
  border: 2px solid salmon;
}

* {
  margin: 4px;
}
